@import "../../styles/config.module.scss";

.Container {
	width: 80%;
	height: 100vh;
	padding: 4rem 2rem;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 202;
	background-color: white;
	color: $text-color;
	transform: translateX(100%);
	transition: transform 200ms ease-in-out;

	@include mq($tablet) {
		width: 50%;
	}

	@include mq($laptop) {
		width: 35%;
	}
}

.Open {
	transform: translateX(0);
}
