@import "../../../../styles/config.module";

.Container {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @include mq($tablet) {
    width: 43%;
  }
  @include mq($laptop) {
    width: 30%;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.Title {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include mq($tablet) {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
  }
  @include mq($pc) {
    font-size: 3rem;
  }
}
