.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2rem;
}

.active {
  color: $primary-color !important;
}

.primary-color {
  color: $primary-color !important;
}
.white-color {
  color: white !important;
}

.relative {
  position: relative;
}

.z-index {
  position: relative;
  z-index: 2;
}

// Bgs
.bg-gray {
  background-color: $gray-color;
}
.bg-grayish {
  background-color: $grayish-color;
}
.bg-dark {
  background-color: $dark-color;
  color: #fff;
}
.bg-primary {
  background-color: $primary-color;
  color: white;
}

// Colors
.color-dark {
  color: $dark-color;
}
