.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2rem;
}

.active {
  color: $primary-color !important;
}

.primary-color {
  color: $primary-color !important;
}

.relative {
  position: relative;
}

.z-index {
  position: relative;
  z-index: 2;
}

// Bgs
.bg-gray {
  background-color: $gray-color;
}
