// Colors
$primary-color: #c7a17a;
$text-color: #7c7770;
$text-color-dark: #1b1b1b;
$text-color-white: #fff;
$dark-color: #12100d;
$bg-color: #fff;
$bg-gray: #eceae3;

// Fonts
$primary-font: "Roboto", Arial, sans-serif;
$secondary-font: "Oswald", "Roboto", sans-serif;
$accent-font: "DM Sans", sans-serif;

// breakpoints
$tablet: 768px;
$laptop: 900px;
$pc: 1200px;
$max-width: 1800px;
