// Colors
$primary-color: #c7a17a;
$text-color: #7c7770;
$text-color-dark: #1b1b1b;
$text-color-white: #fff;
$dark-color: #12100d;
$gray-color: #eceae3;
$grayish-color: #f6f6f6;
$bg-color: #fff;
$error-color: rgb(228, 11, 11);
$error-color-transparent: rgba(228, 11, 11, 0.452);

// Fonts
$primary-font: "Roboto", Arial, sans-serif;
$secondary-font: "Oswald", "Roboto", sans-serif;
$accent-font: "DM Sans", sans-serif;

// breakpoints
$tablet: 768px;
$laptop: 900px;
$pc: 1200px;
$max-width: 1200px;
$header-max-width: 1600px;
$hero-max-width: 1600px;
