@import "../../../../styles/config.module";

.Btn {
  display: inline-block;
  outline: none;
  border: 2px solid transparent;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  transition: background-color 200ms linear;
  text-align: center;

  &:hover {
    background-color: $dark-color;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      opacity: 0.6;
      cursor: not-allowed;
      background-color: $primary-color;
    }
  }

  @include mq($tablet) {
    font-size: 1.6rem;
  }
}

.Outline {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: background-color 200ms linear, color 200ms linear;

  &:hover {
    background-color: white;
    color: $dark-color;
  }
}

.FullWidth {
  width: 100%;
}
