@import "../../../../../styles/config.module";

.Slide {
  width: 100%;
  height: 100%;
  @include flexCenter(column);

  @include mq($laptop) {
    align-items: flex-start;
    padding-left: 10%;
  }
}

.Text {
  width: 90%;
  max-width: 40rem;
  margin-bottom: 2rem;
  text-align: center;

  @include mq($laptop) {
    max-width: 60rem;
    text-align: left;
  }
  @include mq($pc) {
    max-width: 75rem;
    text-align: left;
  }
}

.Title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include mq($tablet) {
    font-size: 5.4rem;
  }
  @include mq($laptop) {
    font-size: 7.4rem;
  }

  @include mq($pc) {
    font-size: 9rem;
  }
}

.Lead {
  font-size: 1.4rem;
  @include mq($tablet) {
    font-size: 1.6rem;
  }
  @include mq($laptop) {
    font-size: 1.8rem;
  }
  @include mq($pc) {
    font-size: 2.2rem;
  }
}

.Buttons {
  margin-top: 2rem;
  justify-content: center;

  @include mq($tablet) {
    margin-top: 3rem;
  }

  @include mq($laptop) {
    justify-content: flex-start;
  }

  @include mq($pc) {
    button {
      font-size: 2rem;
    }
  }
}
