@import "../../../styles/config.module";

.Container {
  @include flex(row, center);
}

.Image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.Title {
  margin-bottom: 1rem;
  color: $text-color-dark;
}

.Subtitle {
  color: $primary-color;
}
