@import "../../../styles/config.module";

.Container {
  width: 100%;
  max-width: 50rem;
  @include flexColumn(flex-start);
  flex-wrap: wrap;

  @include mq($laptop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.Btn {
  margin-bottom: 2rem;
  @include mq($laptop) {
    margin-bottom: 0;
  }
}

.Content {
  @include flex(row, center);
}

.Image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2rem;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.Title {
  margin-bottom: 1rem;
  color: $text-color-dark;
}

.Subtitle {
  color: $primary-color;
}
